<div class='landing-page-container'>
	<span id="room-name"></span>
	<div id="room" class="well" data-uri="<%= request.host %>:<%= request.port %>/websocket"></div>

<%= image_tag "mylittledisco340.png",id: "logo" %>


	<div id='landing-page-buttons'>
		<section id='create-room-acc'>
  			<input placeholder='Enter your room name' type"text" id="create-room-input">
  		</section>
		<p><button id='create-room-button' type="button" class="btn btn-primary">Create a room</button></p>
		<section id='join-room-acc'>
  			<input placeholder='Enter room name' type"text" id="join-room-input">
  		</section>
		<p><button id='join-room-button' type="button" class="btn btn-primary">Join a room</button></p>
	</div>
</div>
