<h1>Welcome to <%= @room.name %></h1>
<h2><i id='play' class="player-buttons fa fa-play"></i> <i id='pause' class="player-buttons fa fa-pause"></i> <i id='next' class="player-buttons fa fa-fast-forward"></i></h2>
<input id='add-song-field' type='text'><input id='add-button' type='submit' value='Add'>
