<div class="playlist-container">
  <h1> Playlist </h1>
  <div id='playlist'>
  </div>
</div>




<div class="container">
  <div id="room" class="well" data-uri="<%= request.host %>:<%= request.port %>/websocket">
  </div>
  <div id='nav-bar'>
    <i id='mobile-menu' class='fa fa-bars'></i>
    <h1><span id="room-name"><%= @room.name %><span></h1>

    <% if @room.users_count > 1 %>
      <p id='stats'><%= @room.users_count %> listeners currently in this room.</p>
    <% end %>
  </div>
  <input placeholder='Add a song to your playlist' type"text" id="search-bar">

  <div id="results"></div>

  <div id="hidden">
    <!-- search song template -->
    <div class="song">
      <div class="song-art">
        <div class='song-art-image'>
        </div>
        <div class='song-art-overlay'>
        </div>
      </div>
      <div class="song-title"> 
      </div>
    </div>
    <!-- playlist song template -->
      <div class="playlist-item">
        <img class="playlist-image">
        <div class="song-title"></div>
         <i class="remove-song-button fa fa-times-circle"></i>
      </div>
  </div>

  <div id="player">
    <div id='player-controls'>
      <i id='play' class="player-buttons fa fa-play fa-lg"></i> 
      <i id='pause' class="player-buttons fa fa-pause fa-lg"></i>
      <div id='current-song-title'></div>
      <i id='next' class="player-buttons fa fa-fast-forward fa-lg"></i>
    </div>
  </div>
</div>


