<h1>Welcome to <%= @room.name %></h1>

<textarea id="search-bar"></textarea>

<div id="results"></div>

<div id="hidden">
  <div class="song">
    <span class="song-title"></span>
    <button class="add-song-button">add this song</button>
  </div>
</div>
