<div id="room" class="well" data-uri="<%= request.host %>:<%= request.port %>/websocket">
</div>

<h1>Welcome to <span id="room-name"><%= @room.name %><span></h1>
<h2>there are <%= @room.users_count %> users currently in this room</h2>
<h2><i id='play' class="player-buttons fa fa-play"></i> <i id='pause' class="player-buttons fa fa-pause"></i> <i id='next' class="player-buttons fa fa-fast-forward"></i></h2>

<div id="chat">
  <textarea id="chat-message"></textarea>
  <ul id="chat-wrapper"></ul>
</div>

<div id="playlist"></div>


<textarea id="search-bar"></textarea>

<div id="results"></div>

<div id="hidden">
  <div class="song">
    <span class="song-title"></span>
    <button class="add-song-button">add this song</button>
  </div>
  <div class="playlist-item">
    <span class="song-title"></span>
    <button class="remove-song-button">remove this song</button>
  </div>
</div>


