body {
  width: 100%;
  margin: 0;
  font-family: 'Lato', sans-serif;
}
.container {
  width: 360px;
}

#player {
  margin: 0 auto;
  width: 100%;
  height: 5em;
  position: fixed;
  background-color: rgba(0,0,0,0.8);
  bottom: 0px;
}

#player-controls {
  width: 100%;
  text-align: center;
}

#player-controls div:nth-child(2) {
  text-align: center;
  display: inline-block;
  line-height: 5em;
  font-size: .9em;
  width: 60%;
  color: white;
}

.player-buttons {
  position: fixed;
  bottom: 1.5em;
  font-size: 1em;
  color: white;
  display: block;
  cursor: pointer;
}

#play {
  left: 20px;
  width: 10%;
}

#next {
  width: 10%;
  right: 20px;
}